@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');

$font-family: 'Mukta', sans-serif;


$font-size-title: 1.4em;
$font-size-normal: 0.9em;
$color-main: black; 
$color-alt: white; 
$color-blue: rgb(65, 152, 192);
$color-border: rgb(182, 182, 182);

