

.nav-header {
    display:flex;
    justify-content: space-between;
    margin: 20px 0;
    &__title {
        margin-left: 100px;
        color: $color-blue;
        font-size: $font-size-title;
        font-weight: bold;
    }
    &__list {
        ul {
            display: flex; 
            margin-right: 100px;
            li {
                margin-left: 30px;
                a {
                    color: $color-blue;
                }
            }
        }    
    }
}