.actu__header {
    width: 50%;
    margin:auto; 
    .actu__title {
        margin-top: 40px;
        font-size: $font-size-title;
        font-weight: bold;
    }
    .actu__description {
        font-size: $font-size-normal;
        margin-top: 20px;
    }
    .actu__link {
        margin-top: 20px;
        a{
            color: $color-blue;
        }
    
    }
}