.sidebar {
    width: 20%; 
    position: absolute; 
    z-index: 1; 
    top: 130px;
    right: 120px;
    overflow: hidden; 
    padding-top: 20px;
    &__title {
        margin: 10px 0;
        font-weight: bold;
    }
    &__image {
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }
  }