@charset 'UTF-8';

@import
    '~reset-css/sass/reset';

@import
    'abstracts/vars';

@import
    'base/base';

@import
    'layout/articles',
    'layout/slider';

@import
    'components/article',
    'components/actu-header',
    'components/slider-info';